body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.header-class {
    height: 70px;
    margin: 0;
    display: flex;
    background-color: #333;
    justify-content: space-between;
}

.heading {
    margin: 0px;
    align-items: center;
    display: flex;
    padding: 0 0 0 20px;
    color: #fff;
}

.footer-class {
    height: 50px;
    margin: 0;
    display: flex;
    background-color: #333;
    justify-content: center;
}

.half-width {
    border-bottom: 5px solid #aaa;
}

.half-width-wib {
    height: 400px;
}

.light-gray {
    color: gray;
    padding-left: 10px;
}

.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: green;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 15px;
    width: 140px;
}

.item-button:hover {
    background-color: darkgreen;
}

.watch-item-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    ;
}

.form-pre-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-checkbox {
    margin-bottom: 16px;
    margin-top: 6px;
}

.form-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.form-button:hover {
    background-color: #45a049;
}

.button-icon {
    margin-right: 8px;
}

.message-container {
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.error-message {
    background-color: #e74c3c;
}

.remove-underline-link {
    text-decoration: none;
    color: #fff;
}

.movie-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.movie-card-header {
    padding-top: 15px;
    padding-right: 15px;
    align-self: self-end;
    color: #007BFF;
    cursor: pointer;
}

.movie-card-content {
    padding: 0 20px;
}

.movie-card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
}

.movie-card-buttons button {
    flex-grow: 1;
    background-color: #007BFF;
    /* Button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.movie-card-buttons button.watched-btn {
    background-color: #28a745;
}

.movie-card-buttons button.delete-btn {
    background-color: #dc3545;
}

.movie-card:hover {
    transform: translateY(-5px);
}